xml/student.dtd

<!ELEMENT university-list (student)+>

<!ELEMENT student (first-name,middle-name,last-name,preferred-name,student-id,email,phone,academic-staus,gpa,major,minor,enrollment-status,advisor,enrollment-date,graduation-date)>

<!ELEMENT first-name(#PCDATA)>
<!ELEMENT middle-name(#PCDATA)>
<!ELEMENT last-name(#PCDATA)>
<!ELEMENT preferred-name(#PCDATA)>
